<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Pokenatra Go</title>
      <link rel="stylesheet" type="text/css" href="pokestyle.css">
  </head>
  <body>
<%= yield %>
<img src="images/pokedex.png" alt="Poke Dex" />
  </body>
</html>
