<h2><a href="/pokemons">Choose a Pokemon</a></h2>
<div class="pokemon">
  <p>Pokemon Name: <%= @pokemon.name %></p>
  <p>Pokemon Type: <%= @pokemon.poke_type %></p>
</div>

<a href='/pokemons/<%= @pokemon.id %>/edit'>Update This Pokemon</a>
